
body {
    background-image: url('../img/green.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.error-validation-text {
    color: #dc3545;
}